html, body {
  margin: 0;
  padding: 0;
}
canvas{
  border: 2px solid black;
  display: block;
  margin: auto
}
button {
  border-radius: 30px;
}
button:hover {
  transform: scale(1.5) perspective(1px);
}